body {
	position: relative;
}

#bocadillo {
	background-color: #CCC;
	border-radius: 10px;
	border: 1px solid black;
	display: none;
	font-family: "trebuchet ms", tahoma, verdana, sans-serif;
	font-size: 1em;
	left: 100px;
	min-height: 140px;
	padding: 10px;
	position: absolute;
	top: 100px;
	width: 320px;
}

#bocadillo h4 {
	margin: 10px 0;
	text-align: center;
}

#bocadillo:before, #bocadillo:after {
	border: solid transparent;
	content:"";
	height: 0;
	left: 50%;
	position: absolute;
	top: 100%;
	width: 0;
}

#bocadillo:after {
	border-top-color: #CCC;
	border-width: 20px;
	margin-left: -20px;
	
}

#bocadillo:before {
	border-top-color: #000;
	margin-left: -21px;
	border-width: 21px;
}

#pista li {
	list-style-type: none;
	cursor: pointer;
}